*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

.overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    inset: 0;
    border-radius: 10px;
}

.clearfix::after{ 
    content: "";
    display:table;
    clear: both;
}  

/* common */

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 120%;
}

.container{
    width: 80%;
    margin: 30px auto;
}

header.logo{
    width: 250px;
    border-right: 1px solid lightgrey;
}

header.logo img{
    width: 100%;
    padding-right: 20px;
}

nav ul{
    padding: 40px 0;
}

nav ul li{
    display: inline;
    list-style: none;
    text-transform: uppercase;
}

nav ul li a{
    text-decoration-line: none;
    color:gray;
    padding-right: 10px;
}

.main{
    width: 100%;
}

.main img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.main.top{
    position: relative;
    height: 650px;
}

.main.top .text-position{
    position: absolute;
    width: 50%;
    bottom: 60px;
    left: 40px;
    color: white;
}

.main.top .text-position div{
    font-weight: 400;
    font-size: 170%;
}

.main.bottom .title{
    padding: 40px 0;
}

.main.bottom .title div, .main.bottom p{
    color: grey;
}

.main.bottom .float{
    float: left;
}

.main.bottom .float.side{
    width: calc(100% / 5);
    margin: 10px 0;
}

.main.bottom .float.center{
    width: calc((100% / 5) *3 - 20px);
    margin: 10px;
}

.main.bottom .float h3{
    padding: 20px 0 10px 0;
}

.main.bottom .float .position-overlay{
    position: relative;
    height: 300px;
}

footer{
    margin-top: 30px;
    text-align: center;
}

footer span{
    color: red;
    font-size: 200%;
}